<%- include('../layouts/headers', { page : 'menulist' }) %>
<section class="hero-wrap hero-wrap-2" style="background-image: url('/assets/images/bg7.jpg');" data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 ftco-animate text-center mb-4">
        <h1 class="mb-2 bread">Menu List</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="/">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Menu List <i class="ion-ios-arrow-forward"></i></span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="ftco-search">
      <div class="row">
        <div class="col-md-12 tab-wrap">
          <div class="row no-gutters d-flex align-items-stretch">
            <% if(products.length === 0){ %>
              <div class="text-center">
                <h3>DONAT HABIS</h3>
              </div>
            <% }else{ %>
              <% let count = 1 %>
              <% products.map((el, index) => { %>
                <% if(count === 5){count = 1 }%>
                <% if(count < 3){ %>
                  <div class="col-md-12 col-lg-6 d-flex align-self-stretch">
                    <div class="menus d-sm-flex ftco-animate align-items-stretch">
                      <div class="menu-img img" style="background-image: url(/<%= el.images_product %>);"></div>
                      <div class="text d-flex align-items-center">
                        <div>
                          <div class="d-flex">
                            <div class="one-half">
                              <h3><%= el.name %></h3>
                            </div>
                            <div class="one-forth">
                              <span class="price"><%= convertIDR(el.price) %></span>
                            </div>
                          </div>
                          <p><a href="/addItem/<%= el.id %>/<%= el.price %>" class="btn btn-primary">Beli Donat</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% count+=1 %>
                <% }else{ %>
                  <div class="col-md-12 col-lg-6 d-flex align-self-stretch">
                    <div class="menus d-sm-flex ftco-animate align-items-stretch">
                      <div class="menu-img img order-md-last" style="background-image: url(/<%= el.images_product %>);"></div>
                      <div class="text d-flex align-items-center">
                        <div>
                          <div class="d-flex">
                            <div class="one-half">
                              <h3><%= el.name %></h3>
                            </div>
                            <div class="one-forth">
                              <span class="price"><%= el.price %></span>
                            </div>
                          </div>
                          <p><a href="/addItem/<%= el.id %>/<%= el.price %>" class="btn btn-primary">Beli Donat</a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% count+=1 %>
                <% } %>
              <% }) %>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('../layouts/footers') %>